.cart {
    background: white;
    display: none;
    padding: 50px 5px 16px 5px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 300px;
    z-index: 5;
  }
  
  
  .list-items{
    list-style: none;
    width: 100%;
    padding: 0;
  }
  
  .cart-button {
    align-items: center;
    background: orange;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 25px;
    top: 25px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  
  .cart-button:hover {
    scale: 1.1;
  }
  
  .cart-button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
  }
  .bnt-delete-allitems{
    color: red;
    font-size: small;
    border: 1px solid red;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
  }
  .bnt-delete-allitems:hover{
    background-color: black;
    border: 2.5px solid red;
  }