.item-info-detailed{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: 55vh 20vh;
    gap: 4vh;
}
.item-info.container{
    width: 100%;
    height: 55vh;
}
.item-info{
    width: 100%;
    height: 55vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.item-images{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
/* Details of item */
.item-datainfo{
    grid-column: 4/6;
}
.category-data{
    width: 90%;
    text-align: end;
    font-size: large;
}
.category-link{
    color: rgb(102, 102, 102);
    text-decoration: none; /* Elimina la línea de subrayado */
}
.category-link:hover {
    text-decoration: underline;
  }

  .title-data{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-data-styles{
    font-size: 30px;
    margin: 0;
  }
  .title-data-brand{
    font-size: 22px;
    margin-top: 0;
    color: rgb(39, 35, 35);
  }
  .details-data{
    width: 90%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .item-price{
    font-size: x-large;
  }

  /* Input y Boton */
  .selector-quantity{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-quantity{
    width: 25%;
    height: 30px;
    text-align: center;
  }
  .product-button{
    width: 35%;
    height: 60PX;
    background-color: #fbb72c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    padding: 0;
    margin: 0;
    z-index: 2;
}
.product-button:hover{
    color: black;
}



/* All images of item */
.container-imgs{
    grid-column: 1/1;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-image{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-img{
   
    width: 350px;
    height: 350px;
}
.img-selection{
    
    width: 120px;
    height: 120px;
}
.img-selected{
    width: 100px;
    height: 100px;
    object-fit: fill;
}
.related-items{
    width: 100%;
    height: 20vh;
    background-color: aqua;
}